@model EaziLease.Models.Client

@{
    ViewData["Title"] = "Edit Client";
}

<form method="post" asp-action="Edit">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Client</h2>
            <hr />
        </div>
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3 row">
            <label asp-for="CompanyName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label asp-for="ContactPerson" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="ContactPerson" class="form-control" />
                <span asp-validation-for="ContactPerson" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label asp-for="ContactEmail" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="ContactEmail" class="form-control" />
                <span asp-validation-for="ContactEmail" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label asp-for="ContactPhone" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="ContactPhone" class="form-control" />
                <span asp-validation-for="ContactPhone" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Index" class="btn btn-secondary" style="width:150px">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}