@model Microsoft.AspNetCore.Identity.IdentityResult

@{
    ViewData["Title"] = "Reset Password";
}

@* <h1 class="h3 mb-4 text-danger">@TempData["success"];</h1> *@
<dl class="row">
                <dt class="col-sm-4">@TempData["success"]</dt>
                @* <dd class="col-sm-8">@TempData["success"]</dd> *@
</dl>

